# Marimo editor cache
__marimo__/
__pycache__/

# Database files
baze/
*.duckdb
*.kuzu

# Temporary files
~$*
*.tmp

# Ignore Marimo session folders anywhere
__marimo__/

# Do not track the seminarski template document
seminarski-template.doc
